@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root{
	--header: rgb(2, 9, 17);
	--main-home: linear-gradient(to right , rgb(7, 6, 7) , rgb(1, 1, 39));
	--home-sec: hsla(226, 93%, 18%, 0.315);
	--home-sub-sec: hsl(212, 85%, 13%);
	--font1:'Tangerine';
}
html{
	scroll-behavior: smooth;
}
/*navbar*/
.header{
	background-color: var(--header);
	height: 3rem;
	width: 100%;
	z-index: 1;
	position: fixed;
}
.header ol{
	gap:50px;
	margin: 50px;
	font-size: 14px;
	color: rgb(31, 211, 243);
	background: linear-gradient(90deg,rgb(23, 226, 253),rgb(140, 0, 255));
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.header ol li{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 600;
	transition: all 0.2s ease-in;
		

	/* text-shadow: 0 0 0px rgb(11, 233, 214); */

}
.header ol li:hover{
	cursor: pointer;

	background: linear-gradient(90deg,rgb(255, 193, 78),rgb(255, 74, 2));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 0px 10px rgb(247, 123, 7);
}
.header ol li:hover .l{
	background: linear-gradient(90deg , rgb(253, 0, 253) , rgb(20, 208, 255));
	height: 3px;
	width: auto;
	transition: all 0.2s ease-in;
}
.bo{
	height: 3rem;
	width: 7px;
	position: absolute;
	border-radius: 0px 0px 0px 0px;
	background: linear-gradient(0deg, rgb(23, 226, 253),rgb(140, 0, 255));
}
.header:hover .bo{
	background: linear-gradient(0deg, rgb(255, 193, 78),rgb(255, 74, 2));
	transition: all 0.2s ease-in;
}
/*main body */

.main-menu{
	background-image: var(--main-home);
	width: 100%;
	height: calc(100%-80px);
	gap:150px;
	padding: 90px;
}

.about1, .skill1 , .projects1, .contact1{
	background-color: var(--home-sec);
	animation: load linear;
	animation-timeline: view();
	animation-range: entry 0% cover 30%;
	border-bottom: 10px rgb(2, 12, 26) inset;
	border-top: 10px rgb(142, 142, 248) inset;
	border-right: 10px rgb(2, 12, 26) inset;
	border-left: 10px rgb(142, 142, 248) inset;

}

/*home*/
.home1{
	position: relative;
	padding: 20px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(4, 1, 20, 0.8) 100%), url('/src/assets/home.jpeg');
	background-size: cover;
  	height: 60rem; 
	overflow: hidden;

}
.home1::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  	height: 150px; 
	background: rgba(0, 0, 8, 0.7);
  	filter: blur(70px);
}
.home1:hover{
	cursor: pointer;
}
.msg{
	top: 200px;
	position:absolute;
	height: 20em;
	width: auto;
}
/*MENU*/
.menu{
	gap:80px;
	width: 95%;
	
}
/*ABOUT*/
.about1{
	height: 50rem;
	width: 100%;
	padding: 80px;	
	border-bottom: 10px rgb(2, 12, 26) inset;
	border-top: 10px rgb(142, 142, 248) inset;
	border-right: 10px rgb(2, 12, 26) inset;
	border-left: 10px rgb(142, 142, 248) inset;
}
.logo{
	border-radius: 90%;
	height: 35em;
	width: 30em;
	position:relative;
	box-shadow: -2px -10px 10px -3px rgb(255, 63, 63),
	9px 3px 10px -3px rgb(41, 234, 248),
	-14px 8px 10px -10px rgb(83, 247, 83);

}
.logo:hover{
	box-shadow: -2px -10px 10px -3px rgb(41, 234, 248),
	9px 3px 10px -3px rgb(83, 247, 83),
	-14px 8px 10px -10px rgb(255, 63, 63);
	scale: 1.02;
	cursor: pointer;
}
.abt{
	height: 25em;
	width: 45em;
	overflow: hidden;
	position: relative;
}
.abt h1{
	margin-top: 150px;
	color: aliceblue;
	font-size: 2em;
	font-family: 'Tangerine',cursive;
	font-weight: 400;
	font-style: normal;
	text-shadow: rgb(0, 255, 221) 10px 0 0px,
}
.abt h2{
	margin-top: 20px;
	color:aquamarine;
	font-size: 1.5em;
}
.abt h3{
	color: greenyellow;
	font-size: 1.4em;
	margin-top: 20px;
}

@media(max-width:450){
		.about1{
			height: 7%;
			font-size: 2px;
		}
}
@keyframes load1 {
	0% {
		right: 1100px;
		display: hidden;
	}
	100% {
		right: 0px;
	}
	
	
}
@keyframes load {
	0% {
		filter: opacity(0);
		margin-left: 500px;
		flex-wrap: wrap;
		transform: perspective(1000) scale(0.1);
		transform: scale(0);
		transform: rotateX(0%);
	}
	50% {
		filter: opacity(0.5);
		margin-left: 300px;
		transform: scale(0.5);
		transform: rotateX(50%);
	}
	100% {
		filter: opacity(1);
		margin-left: 0px;
		flex-wrap: nowrap;
		transform: perspective(1000px) scale(1);
		transform: scale(1);
		transform: rotateX(100%);
	}
}
.skill1{
	height: 55rem;
	width: 100%;
	border-bottom: 10px rgb(2, 12, 26) inset;
	border-top: 10px rgb(142, 142, 248) inset;
	border-right: 10px rgb(2, 12, 26) inset;
	border-left: 10px rgb(142, 142, 248) inset;
}
.skills{
	width: 100%;
	height: 20rem;
	gap: 20px;
	justify-items: center;
	align-items: center;
	background-color: var(--home-sub-sec);
	box-shadow:-10px -10px 20px 1px rgb(207, 6, 140), 10px 20px 20px 5px rgba(231, 8, 213, 0.5);
}
.skill-col{
	height: 8rem;
	width: 8rem;
	background-color: rgb(1, 9, 15);
	opacity: 0.5;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	transition: all 0.3s ease-in;
	border-radius: 20px;
}
.blu{
	opacity: 1;
}
.skill-det{
	margin-top: 20px;
	height: 30rem;
	width: 70rem;
	background-color: hsl(56, 67%, 77%);
	border-radius: 10px;
}
.skill-col:hover{
	scale: 1.1;
	transform: scale(1.1);
	cursor: pointer;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 20px 6px rgb(23, 226, 253);
}
/*projects*/
.projects1{
	height: 50rem;
	width: 100%;

}
.project-sec{
	height: 43em;
	width: 98%;
}
.show_1{
	height: 5rem;
	width: 10rem;
	border-radius: 20px;
	background-color: rgb(61, 61, 64);
	color: rgb(255, 255, 255);
	font-size: 25px;
	text-shadow: 0px 0px 10px rgb(7, 247, 83);
	margin-bottom: 30px;
	box-shadow: -2px -10px 10px 1px rgb(108, 108, 227),2px 10px 10px 1px rgb(239, 111, 111);
	transition: all 0.3s ease-in;
}
.show_1:hover{
	box-shadow: -2px -10px 10px 1px rgb(255, 0, 93),2px 10px 10px 1px rgb(234, 0, 255);
	scale: 1.1;
	color:greenyellow ;
}





/*contacts-temp*/
.contact1
{
	height: 80rem;
	width: 100%;
}
.form1{
	height: 70em;
	width: 50em;
	border-radius: 20px;
	background-color: black;
	border: 1px solid silver;
	display: flex;
	justify-content: center;
}
.form1 form{
	width: 90%;
}
.form1 form input{
	border-radius: 10px;
	border: none;
	padding: 0.2em;
	width: 100%;
	font-size: 2.2em;
	background-color: rgb(56, 55, 53);
	color:rgb(10, 206, 255);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.i2{
	height: 5em;
}
.form1 form input:focus{
	scale: 1.1;	
}

/**/
@media(max-width: 600px)
{
	/*navbar*/
	.header{
		height: 3rem;
		width: 26.9rem;
	}
	.header ol{
		gap:3px;
		margin: 50px;
		font-size: 10px;
	}
	.bo{
		height: 3rem;
		width: 3px;
	}
	.header:hover .bo{
		background: linear-gradient(0deg, rgb(255, 193, 78),rgb(255, 74, 2));
		transition: all 0.2s ease-in;
	}
}