@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root{
	--header: rgb(2, 9, 17);
	--main-home: linear-gradient(to right , rgb(7, 6, 7) , rgb(1, 1, 39));
	--home-sec: hsla(226, 93%, 18%, 0.315);
	--home-sub-sec: hsl(212, 85%, 13%);
	--font1:'Tangerine';
}
html{
	scroll-behavior: smooth;
}

/*header*/
.header{
	min-height: 1.9em;
	height: auto;
	background: var(--header);
	color: white;
	z-index: 1;
	position: fixed;
	width: 100vw;
}
.header ol{
	font-size: 0.6rem;	
	color: rgb(31, 211, 243);
	background: linear-gradient(90deg,rgb(23, 226, 253),rgb(140, 0, 255));
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.header ol li{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 600;
	transition: all 0.2s ease-in;
	margin-left: 0.8rem;
}
.header ol li:hover{
	cursor: pointer;
	background: linear-gradient(90deg,rgb(255, 193, 78),rgb(255, 74, 2));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 0px 10px rgb(247, 123, 7);
}
.header ol li:hover .l{
	background: linear-gradient(90deg , rgb(253, 0, 253) , rgb(20, 208, 255));
	height: auto;
	min-height: 0.2rem;
	width: auto;
	transition: all 0.2s ease-in;
}
.bo{
	min-height: 1.9em;
	height: auto;
	min-width: 0.2rem;
	width: auto;
	position: absolute;
	border-radius: 0px 0px 0px 0px;
	background: linear-gradient(0deg, rgb(23, 226, 253),rgb(140, 0, 255));
}

/*home1*/
.home1{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(4, 1, 20, 0.8) 100%), url('/src/assets/home.jpeg');
	min-height: 20rem;
	height: auto;
	width: 100vw;
	background-size: cover;
}

.home1::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  	height: 10rem; 
	background: rgba(0, 0, 8, 0.7);
  	filter: blur(70px);
}
.home1:hover{
	cursor: pointer;
}
.msg{
	top: 3em;
	position:absolute;
	height: 20em;
	width: auto;
}

/*main-menu*/
.main-menu{
	height: auto;
	width: 100vw;
	background-image: var(--main-home);

}
/*menu*/
.menu{

	height: auto;
	width: 90%;
	gap: 20px;
}
.about1, .skill1 , .projects1, .contact1{
	background-color: var(--home-sec);
	animation: load linear;
	animation-timeline: view();
	animation-range: entry 0% cover 30%;
	border-bottom: 10px rgb(2, 12, 26) inset;
	border-top: 10px rgb(142, 142, 248) inset;
	border-right: 10px rgb(2, 12, 26) inset;
	border-left: 10px rgb(142, 142, 248) inset;
}
/*about*/
.about1{
	height: 15rem;
	width: 100%;
	padding: 20px;
}
.logo{
	height: 100px;
	width: 100px;
	position:relative;
	box-shadow: -2px -3px 10px -3px rgb(255, 63, 63),
	4px -1px 10px -3px rgb(41, 234, 248),
	-12px 2px 10px -10px rgb(83, 247, 83);
	border-radius: 90%;
}

.logo:hover{
	box-shadow: -2px -3px 10px -3px rgb(41, 234, 248),
	4px -1px 10px -3px rgb(83, 247, 83),
	-12px 2px 10px -10px rgb(255, 63, 63);
	scale: 1.02;
	cursor: pointer;
}
.abt{
	height: auto;
	width: auto;
	margin-left: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 0.8rem;
	overflow: hidden;
	text-wrap: initial;
}

.abt h1{
	color: aliceblue;
	font-family: 'Tangerine',cursive;
	font-weight: 400;
	font-style: normal;
	text-shadow: rgb(0, 255, 221) 10px 0 0px,
}
.abt h2{

	color:aquamarine;

}
.abt h3{
	color: greenyellow;
}
/*skills*/
.skill1{
	height: 20rem;
	width: 100%;
	padding: 20px;
}
.skills{
	height: 10rem;
	width: 100%;
	gap: 1.2rem;
	justify-items: center;
	align-items: center;
	border-radius: 10px;
	background-color: var(--home-sub-sec);
	margin: 5px;
	box-shadow: 0 0 10px 2px rgb(207, 6, 140);
}
.skill-col{
	background-color: bisque;
	height: 3rem;
	width: 3rem;
	background-color: rgb(1, 9, 15);
	opacity: 0.5;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	transition: all 0.3s ease-in;
	border-radius: 20px;
}
.skill-col:hover{
	scale: 1.1;
	transform: scale(1.1);
	cursor: pointer;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 20px 6px rgb(23, 226, 253);
}
.blu{
	opacity: 1;
}
.skill-det{
	height: 8rem;
	width: 100%;
	background-color: hsl(56, 67%, 77%);
	border-radius: 10px;

}
.skill-det div{
	margin: 2px;
}
.det{
	background-color: rgb(7, 30, 49);
	height: 6rem;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.det div{
	height: 30px;
	width: 30px;
}
.det p{
	font-size: 0.9rem
}
/*project*/
.projects1{
	height: 22rem;
	width: 100%;
}
.project-sec{
	height: 98%;
	width: 98%;
	padding: 10px;
}
.pro{
	height: 8rem;
	width: 8rem;
	padding: 4px;
}
.link2{
	height: 80%;
	width: 90%;
}
.title{
	height: 40%;
	width: 90%;
	font-size: 10px;
}
.btn_div{
	height: auto;
	width: auto;
}
.show_1{
	height: 20px;
	width: 4rem;
	border-radius: 5px;
	background-color: rgb(55, 55, 87);
	font-size: 10px;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 9px rgb(7, 247, 83);
	box-shadow: -2px -2px 10px 1px rgb(108, 108, 227),2px 2px 10px 1px rgb(239, 111, 111);
	transition: all 0.3s ease-in;
	margin: 10px;
}
.show_1:hover{
	box-shadow: -2px -2px 10px 1px rgb(255, 0, 93),2px 2px 10px 1px rgb(234, 0, 255);
	scale: 1.1;
	color:greenyellow ;
}
/*contact*/
.contact1
{
	height: 40rem;
	width: 100%;
}
.form1{
	height: 80%;
	width: 95%;
	border-radius: 10px;
	background-color: black;
	border: 1px solid silver;
	display: flex;
	justify-content: center;
}
.form1 form{
	width: 90%;
}
.form1 form input{
	border-radius: 5px;
	border: none;
	padding: 0.2em;
	width: 100%;
	font-size: 1em;
	background-color: rgb(56, 55, 53);
	color:rgb(10, 206, 255);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.i2{
	height: 10em;
}
.form1 form input:focus{
	scale: 1.1;	
}

/*responsive*/

@media (min-width: 1050px){

	/*navbar*/
	.header{
		height: 3rem;
		width: 100%;
	}
	.header ol{
		gap:2rem;
		margin: 3rem;
		font-size: 1.2rem;
	}


	.header ol li:hover .l{
		height: 0.3rem;
	}
	.bo{
		height: 3rem;
		width: 0.4rem;
	}

	/*main body */

	.main-menu{
		min-width: 1200px;
		width: 100%;
		height: calc(100%-80px);
		gap:5rem;
		padding: 2rem;
	}



	/*home*/
	.home1{
		min-height: 80vh;
  		height: auto; 
		width: 100%;
	}
	.home1::after{
		bottom: 0;
		left: 0;
		right: 0;
	  	height: 60rem; 

	}

	.msg{
		top: 10rem;
		position:absolute;
		height: 20em;
		width: auto;
	}
	/*MENU*/
	.menu{
		gap:4rem;
		width: 95%;
		
	}
	/*ABOUT*/
	.about1{
		height: 50rem;
		width: 100%;
		padding: 80px;	
	}	
	.logo{
		border-radius: 90%;
		height: 35em;
		width: 30em;
		position:relative;
		box-shadow: -2px -10px 10px -3px rgb(255, 63, 63),
		9px 3px 10px -3px rgb(41, 234, 248),
		-14px 8px 10px -10px rgb(83, 247, 83);

	}
	.logo:hover{
		box-shadow: -2px -10px 10px -3px rgb(41, 234, 248),
		9px 3px 10px -3px rgb(83, 247, 83),
		-14px 8px 10px -10px rgb(255, 63, 63);
		scale: 1.02;
	}
	.abt{
		height: 25em;
		width: 45em;
	}
	.abt h1{
		margin-top: 5rem;
	}
	.abt h2{
		margin-top: .7rem;
		font-size: 1.5em;
	}
	.abt h3{
		font-size: 1.4em;
		margin-top: .7rem;
	}

	.skill1{
		height: 55rem;
		width: 100%;
		border-bottom: 10px rgb(2, 12, 26) inset;
		border-top: 10px rgb(142, 142, 248) inset;
		border-right: 10px rgb(2, 12, 26) inset;
		border-left: 10px rgb(142, 142, 248) inset;
	}
	.skills{
		width: 100%;
		height: 20rem;
		gap: 1.2rem;
		box-shadow:-10px -10px 20px 1px rgb(207, 6, 140), 10px 20px 20px 5px rgba(231, 8, 213, 0.5);
	}
	.skill-col{
		height: 8rem;
		width: 8rem;
		border-radius: 20px;
	}	

	.skill-det{
		margin-top: 20px;
		height: 30rem;
		width: 70rem;
		border-radius: 10px;
	}
	.skill-col:hover{
		border: 2px solid rgb(255, 255, 255);
		box-shadow: 0px 0px 20px 6px rgb(23, 226, 253);
	}
	.skill-det div{
		margin: 20px;
	}
	.skill-det div div{
		height: 40px;
		width: 40px;
	}
	.det{
		background-color: rgb(7, 30, 49);
		height: 26rem;
		width: 80%;
		gap: 10px;
	}
	.det div{
		height: 50rem;
		width: 90rem;
	}
	.det p{
		font-size: 3rem
	}
	/*projects*/
	.projects1{
		height: 50rem;
		width: 100%;
	}
	.project-sec{
		height: 43em;
		width: 98%;
	}

	.pro{
		height: 20rem;
		width: 20rem;
		padding: 4px;
	}
	.link2{
		height: 80%;
		width: 90%;
	}
	.title{
		height: 40%;
		width: 90%;
		font-size: 2rem;
	}
	.btn_div{
		height: auto;
		width: auto;
	}
	.show_1{
		height: 5rem;
		width: 10rem;
		border-radius: 20px;
		font-size: 25px;
		text-shadow: 0px 0px 10px rgb(7, 247, 83);
		margin-bottom: 30px;
		box-shadow: -2px -10px 10px 1px rgb(108, 108, 227),2px 10px 10px 1px rgb(239, 111, 111);
	}

	/*contacts-temp*/
	.contact1
	{
		height: 80rem;
		width: 100%;
	}
	.form1{
		height: 70em;
		width: 50em;
		border-radius: 20px;
	}
	.form1 form{
		width: 90%;
	}
	.form1 form input{
		border-radius: 10px;
		padding: 0.2em;
		width: 100%;
		font-size: 2.2em;
	}
	.i2{
		height: 5em;
	}
	.form1 form input:focus{
		scale: 1.1;	
	}

}